            body {
                padding: 0px;
                margin: 0px;
                
               background-color: black;

            }
            #title-bar {
                -webkit-app-region: drag;
                height: 40px;
                text-align: center;
                line-height: 40px;
                vertical-align: middle;
                background-color: black;
                padding: none;
                margin: 0px;
            }

            #title-bar-btns {
                -webkit-app-region: no-drag;
                position: fixed;
                top: 0px;
                right: 6px;
            }
            