body {
  padding: 0px;
  margin: 0px;
  background-color: black;
}
#title-bar {
  -webkit-app-region: drag;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  background-color: black;
  padding: none;
  margin: 0px;
}

#title-bar-btns {
  -webkit-app-region: no-drag;
  position: fixed;
  top: 0px;
  right: 6px;
}
#minbtn{
  height: 40px;
  width:60px;
  background-color: Transparent;
  border: none;
  cursor:pointer;
  outline:none;
  color: white;
  font-size: 20px;
}
#minbtn:hover{
  background-color: grey;
}
#closebtn{
  height: 40px;
  width:60px;
  background-color: Transparent;
  border: none;
  cursor:pointer;
  outline:none;
  color: white;
  font-size: 20px;
}
#closebtn:hover{
  background-color: red;
}
#nomeGioco{
  padding-top: 30px;
  right: 10px;
}
            